<%- include('./partials/head') %>
<div>
  <main>
    <header>
      <h1>squad 1E</h1>
        <div class="search">
          <img src="/images/search.svg">
          <p>search</p>
        </div>
    </header>

    <form>
      <ul>
        <li>Geografisch</li>
        <li>Naam</li>
        <li>Leeftijd</li>
        <li>Nickname</li>
        <li>Squad</li>
      </ul>
    </form>

    <ul class="person">
        <% persons.forEach(person => { %>
          <li>
            <a href="./person/<%= person.id %>"><%= person.name %></a>
            <img src="/images/<%= person.name.toLowerCase() %>-sonny.png">
          </li>
        <% }) %>
    </ul>    
  </main>
</div>


<%- include('./partials/foot') %>