<%- include('./partials/head') %>
<div>
  <main>
    <header>
      <h1>squad 1E</h1>
        <div class="search">
          <img src="/images/search.svg">
          <p>search</p>
        </div>
    </header>

    <form>
      <ul>
        <li><img src="/icons/Search.svg"></li>
        <li><img src="/icons/person-icon.svg"></li>
        <li><img src="/icons/locatie-icon.svg"></li>
        <li><img src="/icons/birthday-icon.svg"></li>
        <li><img src="/icons/groep-icon.svg"></li>
        <li><img src="/icons/media-icon.svg"></li>
      </ul>

      <div class="background-change">
        <p>Change Background:</p>
        <img src="/icons/roze-star.svg">
        <img src="/icons/coral-star.svg">
        <img src="/icons/donkergroen-star.svg">
        <img src="/icons/geel-star.svg">
        <img src="/icons/lichtgroen-star.svg">
      </div>
    </form>

    <ul class="person">
        <% persons.forEach(person => { %>
          <li>
            <a href="./person/<%= person.id %>"><%= person.name %></a>
            <img src="/images/<%= person.name.toLowerCase() %>-sonny.png">
          </li>
        <% }) %>
    </ul>    

    <!-- modal content
      <div class="modal" id="modal">

        <div class="modal-content"></div>
        <!-- sluitknop -->
        <!-- <span class="close">&times;</span>    -->

      

      
  </main>
</div>


<%- include('./partials/foot') %>